{% extends "base_generic.html" %}

{% block content %}
{% if collections %}
  <div>
    {% for c in collections %}
      <h2><a href="{% url 'collezioni:collection_detail' c.id %}">{{c.title}}</a></h2>
      <p>{{c.text}}</p>
      <p>{{c.owner}}</p>
      <p>{% if c.owner == user %}
        <a href="{% url 'collezioni:collection_update' c.id %}">Edit</a> - 
        <a href="{% url 'collezioni:collection_delete' c.id %}">Delete</a> - 
        <a href="{% url 'collezioni:bottle_create' c.id 'addbottletocoll' %}">Add a bottle</a>
      {% endif %}</p>
    {% endfor %}
  </div>
{% else %}
  <div>
    Sorry, no collections available...:-(
  </div>
{% endif %}
{% endblock %}
